.bannersurvey { 
background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(../../images/bannersurvey.jpg);
color: whitesmoke;
padding: 40px 0px;
background-size: cover;
background-position: center;
	}

#bannerbasket{
background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(../../images/basket.png);
color: whitesmoke;
padding: 20px 0px;
background-size: cover;
background-position: center;
	}
#bannerorder{
	margin: 0px 0px;
	padding: 20px 0px;
}

.bannersurvey h1 { 
	font-size: 30px;
	}

.banner h1 { 
	font-size: 30px;
	}

.banner h2 { 
	font-size: 20px;
	font-weight: lighter;
		}


.bannerpick { 
background-color: rgba(0, 11, 0, 0.5);
color: whitesmoke;
padding: 40px 0px;
background-size: cover;
background-position: center;
		}

.bannerpick h1 { 
	text-align: center;
	font-size: 30px;
	}

.bannerproduct { 
background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(../../images/bannermainpage2.png);
color: whitesmoke;
padding: 40px 0px;
background-size: cover;
background-position: center;
	}

.bannerproduct2 { 
background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(../../images/bannermainpage10.png);
color: whitesmoke;
height: auto;
padding: 40px 0px;
background-size: cover;
background-position: center;
	}


