.btn-green{
	text-decoration : none;
	background-color:#306253;
	color: ghostwhite;
	padding: 15px 20px;
	border-radius: 5px;
}

.btn-green:hover {
	background-color: #D2B599;
	color: ghostwhite;
}

.btn-beige{
	background-color:#D2B599;
	color: ghostwhite;
	padding: 15px 20px;
	border-radius: 5px;
}

.btn-beige:hover {
	background-color: #306253;
	color: ghostwhite;
}

.btn-images {
	padding: 2px 2px;
	border-radius: 5px;
	}

.btn-images:hover {
	border:solid;
	}
