.card-white {
	background-color:rgb(246, 246, 246);
	padding: 40px;
	box-shadow:0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin:20px 0px;
	text-align: center;
	line-height: 1,5em;
	}

.card-beige {
	background-color:#D2B599;
	padding: 18px;
	box-shadow:0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin:0px 0px;
	text-align: center;
	line-height: 1,5em;
	}


.card-greytransparent {
	background-color:rgba(0, 11, 0, 0.5);
	padding: 40px;
	box-shadow:0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin:80px 80px;
	text-align: center;
	}

.card-lightgrey {
	background: rgba(0, 11, 0, 0.6);
	padding: 10px;
	box-shadow:0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin:20px 0px;
	text-align: center;
	line-height: 1,5em;
	}

.card {
  display: unset;
  justify-content: space-between;
  padding: 40px 30px 40px 30px;
  margin: 0px;
  text-align: left;
}
.card img {
  width: 300px;
}

#cardright{
	padding: 0px;
	margin-top: 58px;
}

.cards {
 display: flex;
align-content: space-between;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
align-items: center;
}

#cardsbasket{

flex-wrap: wrap;

}


.cardbasket {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;

  
}
.cardbasket img {
  width: 300px;
}


.imgbasket{
background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(../../images/community.jpg);
width: 700px;
color: whitesmoke;
padding: 90px 40px;
background-size: cover;
background-position: center;
font-size: 70px;
}

