footer {
background-color:#306253;
position: absolute;
width:100%;
padding-top:10px;
padding-bottom: 20px;
height:230px;
}

.footer-control {
    margin: 0 ;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 10px;
}

.footer{color: white;}

#h2footer {
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: lora;
    font-weight: 10px;
    }

footer h3 {
    color: white;
    font-size: 20px;
}

footer div {
    margin-right: 60px;
    margin-left: 60px;
}


footer ul {
    list-style: none;
     }


footer a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 15px;
    }

footer a:hover {
  color: black;
    }


#follow li { 
    display: inline;
    padding: 10px; }

#H1footer {color: whitesmoke;}
