footer {
background-color:#306253;
position: absolute;
width:100%;
padding-top:10px;
padding-bottom: 2px;
height:260px;
}

.footer-control {
    margin: 0 ;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
}


footer h1 {
    text-align: center;
    font-size: 25px;
    }

footer h3 {
    color: white;
    font-size: 25px;
}

footer div {
    margin-right: 90px;
    margin-left: 90px;
}


footer ul {
    list-style: none;
     }


footer a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 18px;
    }

footer a:hover {
  color: black;
    }


 .list-inline li {
    display: inline;
    padding: 10px;
    }