
header{
	background-color:#306253;
}

nav {
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	color: white;
	border-radius: 4px;
	padding: 0px;
	padding-top: 0px;
	margin: 0px;
    list-style-type: none;
	}


.nav-list {
	border-radius: 4px;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.nav-list li{
    display: inline;
    margin: 0px;
  	padding: 2px;
  	width: 400px;
  	height: 40px;
  	text-align: center;
  	line-height: 40px;
	}


.nav-list li a{
display: inline;
text-decoration: none;
color: white;
}

.nav-list li a:hover {
color: black;
}

.list-left {
	display: inline;
	padding-left: 0px;
    padding-right: 1150px;
	
}

.list-right {
	display: inline;
	padding-right: 0px;
}



