@import url("components/Footer.css");
@import url("components/Header.css");
@import url("components/button.css");

#bc-white {
	background-color: white;
	color: black;
	font-family: 'Ralewaa' sans-serif;
	font-weight: 100;
	margin: 0px;
}

#banner{
	width: 100%;
	opacity: 1;
	top: 0;
}


@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
